<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>563392070271-95lr2mnd8df0ie6ol1rh8brqop64jljh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563392070271-95lr2mnd8df0ie6ol1rh8brqop64jljh</string>
	<key>API_KEY</key>
	<string>AIzaSyCZRFUA_SeWlN1qRyNjfLkX6f0DQCgUAiw</string>
	<key>GCM_SENDER_ID</key>
	<string>563392070271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rak.StudyApp</string>
	<key>PROJECT_ID</key>
	<string>studyapp-37362</string>
	<key>STORAGE_BUCKET</key>
	<string>studyapp-37362.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563392070271:ios:812a6a01c3240445</string>
	<key>DATABASE_URL</key>
	<string>https://studyapp-37362.firebaseio.com</string>
</dict>
</plist>